<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> I AM SENDING SOME DATA FROM BACKEND</h1>
        <h1>Hi ,how r u {{name}}</h1>
        {% if a > 20 %}
            <h1>Statements of if Block</h1>
            <h1>a value is {{a}}</h1>
        {% endif %}

    </center>
    
</body>
</html>